.App {
  text-align: center;
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.linkActive{
  height:auto;
  border: 2px solid #FC7B04;
  border-radius: 7px;
  color:#9CA3AF;
}
.none{
  display:none;
}
.block{
  display:block;
}
.hoverClass:hover{
  color:#FC7B04;  
}
.colorClass{
  color:#FC7B04;
}
.bgClass{
  background-color:#FC7B04
}
.glass{
  background: rgba( 255, 255, 255, 0.2 );
/* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
backdrop-filter: blur( 0px );
-webkit-backdrop-filter: blur( 0px );
}
.h100Vh{
  height: 100vh;
}
.bg-different{
  background-color:#475569;
  font-color:white;
}
html{
  scroll-behavior:smooth;
}
.popUp::before{
  content:"";
  width:350px;
  height:400px;
  background-color:red;
  display:flex;
  justify-content: center;
  z-index:999;
}
.block{
  display:flex;
}
